{{> header}}
    <body>
        <h1>{{pageTitle}}</h1>
        <p>Use your credentials:</p>
        <form>
            <input type="text">
            <br>
            <input type="password">
            <br>
            <input type="button" value="Login">
            <br><br>
        </form>
        {{> footer}}
    </body>
</html>
